  /* Footer */
  .footer {
    background: var(--bg-dark);
    padding: 4rem 5vw;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.footer-logo {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--text-primary);
}

.footer-logo img{
    width: calc(3rem + 7vw);
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.footer-links a {
    color: var(--text-secondary);
    text-decoration: none;
    transition: var(--transition);
}

.footer-links a:hover {
    color: var(--primary);
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.footer-social a {
    color: var(--text-secondary);
    font-size: 1.5rem;
    transition: var(--transition);
}

.footer-social a:hover {
    color: var(--primary);
    transform: translateY(-3px);
}

.footer-copyright {
    color: var(--text-secondary);
    font-size: 0.9rem;
}